@mixin typography(
  $fontFamily: var(--ff-primary),
  $fontWeight: normal, 
  $fontSize: var(--ff-400),
  $color: var(--clr-gray-100),
  $lineHeight: 1.5,
  $textTransform: none
  ){
  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  color: $color;
  line-height: $lineHeight;
  text-transform: $textTransform;
}

@mixin split($gap: 1rem, $flex-basis: 30%, $min-width: 25rem) {
  display: flex;
  gap: $gap;
  flex-wrap: wrap;
  justify-content: center;

  &>* {
    flex-basis: $flex-basis;
    min-width: $min-width;
  }
}
