.contact__icon {
  fill: var(--clr-gray-100);
  transition: transform 250ms ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.1);
    cursor: pointer;
    fill: var(--clr-red-500);
  }

  &--facebook {
    margin-left: 1rem;
  }
}


