.lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: none;

  &--active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    height: 75vh;
    width: auto;
    object-fit: cover;
    padding: 2rem;
    border: 1px solid white;
  }
}

// .lightbox--active {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
