// lightbox is displayed when clicked on small image from grid
// and closed when clicked anywhere on the screen

.lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: none;
  // by default lightbox is hidded

  &--active {

    // onclick lightbox--active class is added to the element
    // and lightbox is displayed
    // onclick : display none -> flex

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    height: auto;
    width: 85vw;
    padding: 0.25rem;
    object-fit: cover;
    border: 2px solid white;

    @media screen and (min-width:45em){
      height: 75vh;
      width: auto;
      padding: 0.5rem;
    }
  }
}
