@use '../abstracts';
@use '../base';

.header {

  padding: 5rem 0;
  position: relative;

  &__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.45;
  }

  --spacer: 1rem;
  &__heading {
    @include abstracts.typography(
      $fontFamily: var(--ff-primary),
      $fontWeight: lighter,
      $fontSize: var(--fs-900),
      $color: var(--clr-gray-100),
      $lineHeight: 1,
      $textTransform: uppercase
    );
    // margin: 1rem 0;
  }

  &__heading-two {
    @include abstracts.typography(
      $fontWeight: 400,
      $fontFamily: var(--ff-primary),
      $fontSize: var(--fs-500),
      $color: var(--clr-gray-100),
      $lineHeight: 1.5,
      $textTransform: uppercase
    );
  }

  &__text-description {
    @include abstracts.typography(
      $fontFamily: var(--ff-primary),
      $fontWeight: 400,
      $fontSize: var(--fs-400),
      $color: var(--clr-gray-100),
      $lineHeight: 1.5
    );
    // margin-bottom: 1rem;
    max-width: 80rem;
  }
}
