@use '../abstracts';
@use '../base';

.main {
  background: var(--clr-black-900);
  padding: 5rem 0;

  &__heading {
    @include abstracts.typography(
    $fontFamily:var(--ff-primary),
    $fontWeight: 400,
    $fontSize: var(--fs-700),
    $color: var(--clr-gray-100),
    $lineHeight: 1.5,
    $textTransform: none
    );

    // on mobile heading has text-align center
    // on tablet and above (>65em) text-align start
    text-align: center;
    @media screen and (min-width: 65em) {
      text-align: start;
    }
    margin-block: 1rem;
  }
}


